    * {
        box-sizing: border-box;
    }
    
    html {
        height: 100%;
    }
    
    body {
        width: 100%;
        background-color: orange;
        font-family: Arial;
        height: auto;
    }
    
    body::after {
background-color:green;
    }
    .main {
        margin: 0 auto 0 auto;
    }
    
    .keptarolo::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .container-fluid {
        max-width: 1200px;
        min-width: 230px;
    }
    
    h3 {
        font-style: italic;
        margin: 0 auto;
    }
    
    .keptarolo {
        float: left;
    }
    
    .parent {
        position: relative;
        width: 209px;
        height: 209px;
        margin: 0 auto;
    }
    
    .wrapper {
        width: 209px;
        height: 209px;
        cursor: pointer;
        position: absolute;
        overflow: hidden;
        left: 50%;
        top: 50%;
        padding: 5px;
        transform: translate(-50%, -50%);
        transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
        transition: transform 375ms, width 275ms 100ms, height 375ms;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    
    .wrapper.open {
        width: 300px;
        height: 300px;
        translate: transition transform 375ms, width 375ms, height 275ms 100ms;
    }
    
    .wrapper div.content {
        position: absolute;
        margin: auto;
        left: -9999px;
        right: -9999px;
        transform-origin: top;
        width: 330px;
        transform: scale(0.62);
        height: 330px;
        border-radius: 3px;
        background: #fff;
        overflow: hidden;
        transition: transform 375ms cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    
    .wrapper.open .content {
        transform: scale(2, 2);
    }
    
    .wrapper .img {
        height: 100px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    
    .thumb-1 .img {
        background-image: url(../ajandektargyak/gt001.jpg);
    }
    
    .thumb-2 .img {
        background-image: url(../ajandektargyak/kis_kepek/g002.jpg);
    }
    
    .thumb-3 .img {
        background-image: url(../ajandektargyak/kis_kepek/g003.jpg);
    }
    
    .thumb-4 .img {
        background-image: url(../ajandektargyak/kis_kepek/g004.jpg);
    }
    
    .thumb-5 .img {
        background-image: url(../ajandektargyak/kis_kepek/g005.jpg);
    }
    
    .thumb-6 .img {
        background-image: url(../ajandektargyak/kis_kepek/g006.jpg);
    }
    
    .thumb-7 .img {
        background-image: url(../ajandektargyak/kis_kepek/g007.jpg);
    }
    
    .thumb-8 .img {
        background-image: url(../ajandektargyak/kis_kepek/g008.jpg);
    }
    
    .thumb-9 .img {
        background-image: url(../ajandektargyak/kis_kepek/g009.gif);
    }
    
    .thumb-10 .img {
        background-image: url(../ajandektargyak/kis_kepek/g010.jpg);
    }
    
    .thumb-11 .img {
        background-image: url(../ajandektargyak/kis_kepek/g011.jpg);
    }
    
    .thumb-12 .img {
        background-image: url(../ajandektargyak/kis_kepek/g012.jpg);
    }
    
    .text {
        padding: 5px;
    }
    
    p {
        font-size: 1.2rem;
    }
    
    .col-12 {
        padding: 5px;
    }

    footer{
        height: auto;
    }
