
*{
    box-sizing:border-box;
}

body{
    background-color:darkblue;
   
}

h4{
    color:yellow;
    margin-top: 10px;
    float:left;
   
}

p{
    font-size:20px;
    color:white;
 
}
#{
    border: 5px solid black;
}

#mozaikkontener{
    margin-top: 10px;
}


#mozaikkep{
    float:left;
    margin-right: 15px;
    margin-bottom: 25px;
}

#jegmadarIdezet{
    color:yellow;
    font-size:30px;
}