* {
    box-sizing: border-box;
}

body {
    background-color: darkblue;
}

h2 {
    color: #03b8e3;
}

h4 {
    color: yellow;
    margin-top: 10px;
    text-align: left;
    font-weight: 50;
    font-family: 'Crimson Text';
}

p {
    color: white;
}

#mozaikkontener {
    margin-top: 15px;
}

#kopanel {
    color: azure;
}

#uvegpanel {}

img {
    border: 5px solid black;
}