IMG
{border: 0px}

BODY
{font-family: cursive; font-size: 12pt; color: #FFFFD2; background-color:#333300; padding: 0; margin: 0}

.nev
{text-align: center; font-family: Verdana, Helvetica, sans-serif; font-size: 16pt; font-weight: bold; margin-top: 12; margin-bottom:12}